.center{
    text-align:center;
}
.content{
    width: 80%;
    height: 50%;
    border:2px green solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px auto;
    overflow: hidden;
}
header{
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    background-color: blanchedalmond;
}
#finish{
    font-size: 25px;     

}



